html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    min-width: 1200px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.container {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_main {
    flex-direction: column;
}

/***** First Block *****/


.first_block {
    background: center center/cover no-repeat
    url("../img/sections_background/section-1(header).jpg");
    background-attachment: fixed;
}

.header_title {
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
}
.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.logo_element {
    width: 58px;
    height: 67px;
    clip-path: polygon( 50% 0%,
    100% 24.5%,
    100% 75.5%,
    50% 100%,
    0% 75.5%,
    0% 24.5%);
    background: #18cfab;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_text {
    margin-left: 6px;
    font-size: 32px;
    line-height: 1.5;
    color: #fff;
}
.logo_text span {
    font-weight: 700;
    color: #18cfab;
}

.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu,
.menu_text,
.menu_link {
    height: 100%;
}

.menu_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10.5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);

}

.menu_link:hover,
.menu_link:focus {
    box-sizing: border-box;
    color: #18cfab;
    cursor: pointer;
    border-bottom: 2px solid #18cfab;
    transition: all 2s linear;
}

.container_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.first_block_text {
    text-align: center;
    line-height: 1;
    color: #ffffff;
}
.text_ham {
    margin-top: 264px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.text_ham span {
    color: #18cfab;
}

.text_we {
    margin-top: 22px;
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
}

.text_buy {
    margin-top: 22px;
    font-size: 34px;
    color: #d4d4d4;

}
.first_block_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 129px auto 244px;
    width: 363px;
}
.btn {
    width: 168px;
    height: 63px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 2.13;
    text-transform: uppercase;
    border-radius: 5px;
    border-top: 5px solid #ffffff;
    color: #ffffff;
    background-color: #18cfab;
    cursor: pointer;
}

.btn_blue {
    background-color: #18cfab;
}

.btn:hover {
    background-color: #00cbf6;
}



/***** Square Four *****/


.four_squares {
    border-top: 10px solid #ffffff;
}

.item_container_four_squares {
    height: 370px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item_four_squares {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    text-transform: uppercase;
}

.squares_dark_theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #1c2a33;
    color: #18cfab;
}

.squares_light_theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #18cfab;
    color: white;
}

.squares_icon_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 85px;
}

.square_title {
    margin-top: 47px;
}

/***** Our services *****/


.our_services {
    padding-top: 90px;
    background-color: #ffffff;
}

.sections_titles {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: #4e4e4e;
}

.sections_titles::after {
    content: "";
    position: relative;
    display: block;
    width: 75px;
    height: 1px;
    left: calc(50% - 88px / 2);
    top: 20px;
    background-color: #18cfab;
}

.sections_titles::before {
    content: "";
    position: relative;
    display: block;
    width: 75px;
    height: 1px;
    left: calc(50% - 88px / 2 + 13px);
    top: 70px;
    background-color: #18cfab;
}

.our_services_tabs {
    margin-top: 100px;
    max-width: 1160px;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab_title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 193px;
    height: 73px;
    font-size: 16px;
    line-height: 2.5;
    color: #717171;
    background: #f8fcfe;
    border: 1px solid #edefef;
}


.tab_title:hover {
    border: 2px solid #18cfab;
    cursor: pointer;
}

.tab_title.active-tab:hover {
    border: 1px solid #18cfab;
    cursor: pointer;
}

.active-tab {
    height: 83px;
    clip-path: polygon(
            0 0,
            100% 0,
            100% 91.5%,
            56.22% 91.5%,
            50% 100%,
            43.78% 91.5%,
            0 91.5%
    );
    background: #18cfab;
    border: 1px solid #18cfab;
    color: white;
    transition: color 1s ease, background 1s ease;

}

.tabs_inner {
    width: 100%;
    margin-bottom: 91px;
}

.tab_description {
    display: none;
    margin-top: 25px;
    transform: scaleY(1);
    opacity: 0;
    transform-origin: center right;
    animation: showInner 10s infinite;
}

.active-inner {
    display: block;
}

@keyframes showInner {
    0% {
        transform: scaleX(1);
        opacity: 0;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}



.tab_description_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.img_inner_tab_wrapper {
    width: 192px;
    height: 139px;
    overflow: hidden;
}
.img_tab {
    min-width: 192px;
}


.text_inner_tab_wrapper {
    width: 952px;
    height: 139px;
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
    color: #717171;
}

/***** buy section *****/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buy_section {
    min-width: 1200px;
    height: 476px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/sections_background/section-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.buy_text span {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #18cfab;
}

.buy_text {
    font-size: 16px;
    line-height: 3;
    color: #d8d8d8;
}

.buy_btn {
    margin-top: 62px;
}


/***** our work section ***/

.our_work {
    padding-top: 95px;
    background: #edefef;
}

.photo_wrapper {
    margin-top: 93px;
    width: 1136px;
}

.photo_buttons {
    display: flex;
    justify-content: center;
}

.photo_btn {
    display: flex;
    justify-content: center;
    padding: 14px 15px 13px;
    min-width: 59px;
    line-height: 3;
    color: #717171;
    background:rgba(0, 0, 0, 0.0001);
    border: 2px solid #dadada;
}

.photo_btn:hover,
.photo-btn-active {
    border: 2px solid #18cfab;
    color: #18cfab;
    cursor: pointer;
    transition: color 1s ease, border 1s ease;
}

.img_photo_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto 0 auto;
    padding: 20px;
    font-size: 14px;
    line-height: 3;
    border-top: none;

}


.load-more p {
    margin-top: 5px;
}

.plus-icon {
    margin-right: 15px;
}

.photo_gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 71px;
    width: 100%;
}

.photo_card {
    width: 284px;
    height: 206px;
}

.img_photo_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img_photo {
    width: 100%;
}

.loader {
    display: block;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    margin: 75px auto 10px;
    border: 5px solid #18cfab;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

.inner_on_hover {
    display: none;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 2;
    text-decoration: none;
    color: #8a8a8a;
    border-top: 3px solid #18cfab;
    background: #edefef;
}

.icon_inner_in_hover {
    height: 43px;
    margin-top: 44px;
}

.inner_on_hover span {
    display: none;
    margin-top: 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    text-transform: uppercase;
    color: #18cfab;
    cursor: pointer;
}

.photo_card:hover .inner_on_hover,
.photo_card:hover .inner_on_hover span {
    display: block;
}

.photo_card:hover .img_photo_wrapper {
    display: none;
}

.hide {
    display: none;
}

.photo_card.hide {
    display: none;
}


/***** news section ***/

.breaking_news {
    padding-top: 96px;
    padding-bottom: 125px;
    background: #ffffff;
}

.news_items_wrapper {
    margin-top: 93px;


}

.news_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 33px;
    grid-row-gap: 60px;
}

.news_card {
    width: 265px;
    height: 281px;
}

.news_card_inner_wrapper {
    position: relative;
    color: #ffffff;
}

.date_square {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 66px;
    height: 65px;
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    color: #ffffff;
    background: #203e38;
}

.news_img_wrapper {
    width: 100%;
    height: 208px;
    overflow: hidden;
}

.img_news {
    width: 100%;
    height: 100%;
}

.news_text_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 14px;
    margin-left: 16px;
    width: 184px;
    height: 50px;
    text-align: center;
}

.news_text_wrapper p {
    font-weight: 300;

    line-height: 3;
    color: #7777;
}

.news_text_wrapper span {
    font-size: 18px;
    font-weight: 700;
    line-height: 3;
    color: #717171;
}

.news_card_inner_wrapper:hover .date_square {
    background: #18cfab;
    transition: background 1s linear;
}

.news_card_inner_wrapper:hover .news_text_wrapper span {
    color: #18cfab;
    transition: color 1s linear;
}

/***** about section ***/


.about {
    min-width: 1200px;
    padding-top: 98px;
    padding-bottom: 99px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/sections_background/section-3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.about_titles {
    font-weight: 400;
    color: #ffffff;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 99px;

}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-weight: 300;
    color: #bbb;


}

.testimonial .slide{
    display: none;
}

.testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid rgba(31, 218, 181, 0.2) ;
}

.slide .quote_icon {
    font-size: 40px;
    color: #18cfab;
}

.slide .text_review {
    width: 1160px;
    margin-top: 37px;
    text-align: center;
    font-size: 16px;
    line-height: 2;
    color: #bbbbbb;
}

.slide .details {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 37px;
}

.details .name {
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    text-transform: uppercase;
    color: #18cfab;
}

.details .job {
    font-size: 13px;
    line-height: 2;
    color: #bbbbbb;
}



.left_arrow,
.right_arrow {
    position: absolute;
    top: 92%;
    width: 31px;
    height: 31px;
    color: #bbbbbb;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #bbbbbb;
    cursor: pointer;
    transition: all 1s ease-in;
}

.left_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    right: calc(50% - 270px);
}

.right_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    right: calc(50% + 270px);
}


.left_arrow:hover,
.right_arrow:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: #ffffff;
    transition: all 1s ease-in;
}

.thumbnails_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 483px;
    margin-top: 51px;

}

.thumbnail {
    display: inline-block;
    height: 59px;
    width: 59px;
    margin: 0 19px;
    box-sizing: content-box;
    border: 7px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.6;
    cursor: pointer;
    transition: all 1s ease-in;
}

.thumbnail_image {
    height: 100%;
}

.thumbnail.active,
.thumbnail:hover {
    display: block;
    transform: scale(1.1) translate(0, -10%);
    opacity: 1;
    transition: all 1s ease-in;
}

.slide.active {
    display: flex;
    position: relative;
}

.slide.active .image {
    animation: testim-show 0.7s ease-in-out forwards;
}
.slide.active .name {
    animation: testim-content-in 0.4s ease-in-out forwards;
}
.slide.active .text-review {
    animation: testim-content-in 0.5s ease-in-out forwards;
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/***** footer ***/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 121px;
    background: #22353f;
}

.footer_text {
    font-weight: 300;
    line-height: 2;
    color: #aeaeae;
}

.footer_text span {
    color: #18cfab;
}

